.table {
  margin: 2vh 0 0 0;
  overflow: scroll;
  max-height: 45vh;
  color: gray;
  background-color: white;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    min-width: 100%;
  }

  tr {
    display: flex;
    justify-content: space-between;

    &:nth-of-type(odd) {
      background-color: #f3f2f8;
    }
  }

  td {
    padding: 1.8vh;
    font-size: 2.2vh;
  }
}
