.map {
  height: 410px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 16px 0 0 0;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);

  .info-container {
    width: 150px;
    &__flag {
      height: 70px;
      width: 100%;
      background-size: cover;
      border-radius: 8px;
    }

    &__flag img {
      width: 100%;
      border-radius: 5px;
    }

    &__name {
      font-size: 20px;
      font-weight: bold;
      color: #555;
    }

    &__stats {
      // font-size: 16px;
      // margin: 5px 0 0 0;
    }
  }
}

.map .leaflet-container {
  height: 100%;
}
